{% extends 'DBFactoryBundle::layout.html.twig' %}


{% block body %}

    <img src="{{ asset('bundles/dbfactory/img/snapshot5.png') }}" alt="Factory" width="100%"/>
    <p>
        У нас есть фабрика,которая выкупает площадь на складах и заполняет товаром.
        Товар иногда нужен как расходный материал для создания нового товара.
        Компании заключают договора на поставку определёной группы товаров, между собой.
        При заключения договора обсуждается способ доставки и способ оплаты.
        Каждый может добавить коментарии к договору.
        Иногда к товару предоставляется скидка от продавца.
    </p>
{% endblock %}
